__MACOSX
data-generation/node_modules/
data-generation/output/
/fraud_detection/mock-data-generator/resources/
/fraud_detection/flink/jars/
/fraud_detection/flink/src/*.json
/fraud_detection/flink/src/*.zip
/fraud_detection/flink/Commands.txt
/fraud_detection/mock-data-generator/sample-files/*.json
/fraud_detection/venv/
env
obsrv-sample-data
*.zip
output
output-rollup
sample-datasets/New York Taxi Data/events
node_modules